<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid bg-dark px-0">
    <div class="row g-0 d-none d-lg-flex">
        <div class="col-lg-6 ps-5 text-start">
            <div class="h-100 d-inline-flex align-items-center text-white">
                <span>Последвай ни:</span>
                <a class="btn btn-link text-light"
                   href="https://www.facebook.com/profile.php?id=61554981885036">
                    <i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>