<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>VibroFiltr</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<!-- Spinner Start -->
<th:block th:insert="~{fragments/spinner}"></th:block>
<!-- Spinner End -->

<!-- Topbar Start -->
<th:block th:insert="~{fragments/topbar}"></th:block>
<!-- Topbar End -->

<!-- Navbar Start -->
<th:block th:insert="~{fragments/navbar}"></th:block>
<!-- Navbar End -->

<!-- Carousel Start -->
<th:block th:insert="~{fragments/carousel}"></th:block>
<!-- Carousel End -->

<!-- Features Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative me-lg-4">
                    <img class="img-fluid w-100" src="/img/test.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="fw-medium text-uppercase text-primary mb-2">Официялен Вносител за България </p>
                <h1 class="display-5 mb-4">CarSafeAndSound</h1>
                <p class="mb-4">Ние от екипа на CarSafeAndSound държим на доволни клиенти и качествено свършена работа
                затова използваме едни от най-добире материяли на пазара като Vibrofiltr и също така най-новите технологий</p>
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Дългодишен опит в сферата</h4>
                                <span>Tука тряя измислиш някакъв текст</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Надеждни и качествени материяли</h4>
                                <span>Tука тряя измислиш някакъв текст</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Може да ви предложим точните материяли за вас</h4>
                                <span>Tука тряя измислиш някакъв текст</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Може да направим вашия автомобил както вие искате</h4>
                                <span>Tука тряя измислиш някакъв текст</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h4>Може да разгледате другите ни продукти на</h4>
                                <span>https://carsafeandsound.bg/</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- Facts Start -->
<div class="container-fluid facts my-5 p-5">
    <div class="row g-5">
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="text-center border p-5">
                <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">25</h1>
                <span class="fs-5 fw-semi-bold text-white">Години опит</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.3s">
            <div class="text-center border p-5">
                <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">135</h1>
                <span class="fs-5 fw-semi-bold text-white">Колеги и екип</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.5s">
            <div class="text-center border p-5">
                <i class="fa fa-users fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">957</h1>
                <span class="fs-5 fw-semi-bold text-white">Доволни клиенти</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
            <div class="text-center border p-5">
                <i class="fa fa-check-double fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">1839</h1>
                <span class="fs-5 fw-semi-bold text-white">Готови проекти</span>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                            allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="fw-medium text-uppercase text-primary mb-2">Услуги</p>
            <h1 class="display-5 mb-4">Предлагаме различни материяли за изолация и обешумяване</h1>
        </div>
        <div class="row gy-5 gx-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <img class="img-fluid" src="/img/service-1.jpg" alt="">
                    <div class="service-img">
                        <img class="img-fluid" src="/img/service-1.jpg" alt="">
                    </div>
                    <div class="service-detail">
                        <div class="service-title">
                            <hr class="w-25">
                            <h3 class="mb-0">Шумоизолация</h3>
                            <hr class="w-25">
                        </div>
                        <div class="service-text">
                            <p class="text-white mb-0">Материалът е самозалепващ и звукопоглъщащ.</p>
                        </div>
                    </div>
                    <a class="btn btn-light" href="">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <img class="img-fluid" src="/img/service-2.jpg" alt="">
                    <div class="service-img">
                        <img class="img-fluid" src="/img/service-2.jpg" alt="">
                    </div>
                    <div class="service-detail">
                        <div class="service-title">
                            <hr class="w-25">
                            <h3 class="mb-0">Шумоизолация & Топлоизолация</h3>
                            <hr class="w-25">
                        </div>
                        <div class="service-text">
                            <p class="text-white mb-0">Използва се за оформяне на водоустойчив слой, изолиращ вибрациите в автомобили </p>
                        </div>
                    </div>
                    <a class="btn btn-light" href="">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <img class="img-fluid" src="/img/service-3.jpg" alt="">
                    <div class="service-img">
                        <img class="img-fluid" src="/img/service-3.jpg" alt="">
                    </div>
                    <div class="service-detail">
                        <div class="service-title">
                            <hr class="w-25">
                            <h3 class="mb-0">Незнам какво е</h3>
                            <hr class="w-25">
                        </div>
                        <div class="service-text">
                            <p class="text-white mb-0">ШУМО И ТОПЛОИЗОЛАЦИОНЕН МАТЕРИАЛ</p>
                        </div>
                    </div>
                    <a class="btn btn-light" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Project Start -->
<div class="container-fluid bg-dark pt-5 my-5 px-0">
    <div class="text-center mx-auto mt-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
        <p class="fw-medium text-uppercase text-primary mb-2">Нашите проекти</p>
        <h1 class="display-5 text-white mb-5">Част от нашите проекти който изпълнихме</h1>
    </div>
    <div class="owl-carousel project-carousel wow fadeIn" data-wow-delay="0.1s">
        <a class="project-item" href="">
            <img class="img-fluid" src="/img/project-1.jpg" alt="">
            <div class="project-title">
                <h5 class="text-primary mb-0">звукопоглъщащ</h5>
            </div>
        </a>
        <a class="project-item" href="">
            <img class="img-fluid" src="/img/project-2.jpg" alt="">
            <div class="project-title">
                <h5 class="text-primary mb-0">Звукопоглъщащ</h5>
            </div>
        </a>
        <a class="project-item" href="">
            <img class="img-fluid" src="/img/project-3.jpg" alt="">
            <div class="project-title">
                <h5 class="text-primary mb-0">Шумоизолация</h5>
            </div>
        </a>
        <a class="project-item" href="">
            <img class="img-fluid" src="/img/project-4.jpg" alt="">
            <div class="project-title">
                <h5 class="text-primary mb-0">Звукопоглъщащ + Шумоизолация</h5>
            </div>
        </a>
        <a class="project-item" href="">
            <img class="img-fluid" src="/img/project-5.jpg" alt="">
            <div class="project-title">
                <h5 class="text-primary mb-0">Таван</h5>
            </div>
        </a>
        <a class="project-item" href="">
            <img class="img-fluid" src="/img/project-6.jpg" alt="">
            <div class="project-title">
                <h5 class="text-primary mb-0">Шумоизолация</h5>
            </div>
        </a>
    </div>
</div>
<!-- Project End -->

<!-- Footer Start -->
<th:block th:insert="~{fragments/footer}"></th:block>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
        class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<th:block th:insert="~{fragments/js}"></th:block>
</body>

</html>