<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<!-- Spinner Start -->
<th:block th:insert="~{fragments/spinner}"></th:block>
<!-- Spinner End -->

<!-- Topbar Start -->
<th:block th:insert="~{fragments/topbar}"></th:block>
<!-- Topbar End -->

<!-- Navbar Start -->
<th:block th:insert="~{fragments/navbar}"></th:block>
<!-- Navbar End -->

<!-- Login Start -->
<div class="d-flex justify-content-center align-items-center" style="height: 50vh;" >
    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="max-width: 90%;">
        <form>
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="username">
                        <label for="username">username</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text"
                               class="form-control"
                               id="password"
                               placeholder="password">
                        <label for="password">password</label>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <button class="btn btn-primary py-3 px-5" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Login End -->

<!-- Footer Start -->
<th:block th:insert="~{fragments/footer}"></th:block>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
        class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<th:block th:insert="~{fragments/js}"></th:block>
</body>
</html>