<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Каталог</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<!-- Spinner Start -->
<th:block th:insert="~{fragments/spinner}"></th:block>
<!-- Spinner End -->

<!-- Topbar Start -->
<th:block th:insert="~{fragments/topbar}"></th:block>
<!-- Topbar End -->

<!-- Navbar Start -->
<th:block th:insert="~{fragments/navbar}"></th:block>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white animated slideInRight">Каталог</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb animated slideInRight mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">Начало</a></li>
                <li class="breadcrumb-item active" aria-current="page">Каталог</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Features Start -->
<div class="container-xxl py-5">
    <h1 class="display-5 mb-4 text-center">КАТАЛОГ</h1>
    <div th:each="p : ${products.getContent()}"
         th:object="${p}"
         class="container catalog mb-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative me-lg-4">
                    <img class="img-fluid w-100"
                         th:src="*{imagePath}" alt="">
                    <span
                            class="position-absolute top-50 start-100 translate-middle bg-white rounded-circle d-none d-lg-block"
                            style="width: 120px; height: 120px;"></span>
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="fw-medium text-uppercase text-primary mb-2" th:text="*{name}">Vibrofiltr</p>
                <p class="mb-4" th:text="*{description}"></p>
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h6 th:text="'Дебелина : ' + *{thickness} + 'mm'"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h6 th:text="'Размер на лист : '+ *{sizeA} + ' x ' + *{sizeB} + ' / '
                                + *{totalSize} + ' m2'"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ms-4">
                                <h6 th:text="'Коефициент на механични загуби при ' + *{lostHz} + ' Hz : '
                                 + *{lost}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                            allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->

<!-- Pagination Start -->
<nav aria-label="Page navigation" class="d-flex justify-content-center py-2">
    <ul th:fragment="ALL" class="pagination text-center">
        <!-- Button for "First Page" -->
        <li th:class="${products.first} ? 'page-item disabled' : 'page-item'">
            <a class="page-link" th:if="${!products.first}" th:href="@{/products(page=0)}">Начало</a>
        </li>

        <!-- Previous Page Button -->
        <li th:class="${!products.hasPrevious()} ? 'page-item disabled' : 'page-item'">
            <a class="page-link" th:if="${products.hasPrevious()}"
               th:href="@{/products(page=${products.previousPageable().pageNumber})}">Предишна</a>
        </li>

        <!-- Page Numbers -->
        <li th:each="i : ${#numbers.sequence(0, products.totalPages - 1)}"
            th:class="${i == products.number} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/products(page=${i})}" th:text="${i + 1}"></a>
        </li>

        <!-- Next Page Button -->
        <li th:class="${!products.hasNext()} ? 'page-item disabled' : 'page-item'">
            <a class="page-link" th:if="${products.hasNext()}"
               th:href="@{/products(page=${products.nextPageable().pageNumber})}">Следваща</a>
        </li>

        <!-- Button for "Last Page" -->
        <li th:class="${products.last} ? 'page-item disabled' : 'page-item'">
            <a class="page-link" th:if="${!products.last}"
               th:href="@{/products(page=${products.totalPages - 1})}">Последна</a>
        </li>
    </ul>
</nav>
<!-- Pagination End -->

<!-- Footer Start -->
<th:block th:insert="~{fragments/footer}"></th:block>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
        class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<th:block th:insert="~{fragments/js}"></th:block>
</body>

</html>